body>p:first-child {
  color: red;
}

[tabindex="1"]:focus {
  color: blue;
}

p[tabindex="1"]:hover {
  color: red;
}

p[tabindex="1"]:active {
  color: green;
}

p>span {
  color: red;
}

p span span {
  color: green;
}

p span span:last-child {
  color: blue;
}

a:link {
  color: pink;
}

a:visited {
  color: orange;
}

a[href*="@"] {
  color: blue;
}

a[href^="tel" i] {
  color: yellow;
}

a[href$="pdf" i] {
  font-size: 30px;
}

div[class="a"] li:nth-of-type(n+4):nth-of-type(-n+7) {
  color: red;
}

div[class="b"] li:nth-of-type(-n+25) {
  color: red;
}

div[class="b"] li:nth-of-type(n+65) {
  color: green;
}

div[class="b"] li:nth-of-type(n+35):nth-of-type(-n+50) {
  color: blue;
}

div[class="prime"] li {
  color: coral;
}

.prime li:nth-of-type(1),
.prime li:nth-of-type(2n+4),
.prime li:nth-of-type(3n+9),
.prime li:nth-of-type(5n+25),
.prime li:nth-of-type(7n+49) {
  color: deepskyblue;
}
