h1 {
  color: brown;
}

h2 {
  font-size: larger;
}

h3 {
  font-size: x-large;
}

p {
  font-size: 30px;
}

ol,
ul {
  border: 1px solid;
}

dl,
dd {
  border: 1px red solid;
}

marquee {
  color: crimson;
}
