x* {
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 1px red;
  xbox-sizing: border-box;
}

main {
  margin: auto;
  width: 100px;
  xbackground-color: #e9e9eb;
  position: relative;

  .check {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 200px;

    input {
      display: none;

      &:checked {
        +label {
          &::before {
            background-color: rgb(48, 243, 77);
            border: 2px solid rgb(48, 243, 77);
            xbox-shadow: rgb(48, 243, 77) 0px 0px 0px 25px inset;
          }

          &::after {

            left: 25px;

          }
        }

        ~.iosshadow {
          &::before {
            left: 25px;
          }

          &::after {
            transition: all 0.2s;
            opacity: 1;
          }
        }
      }
    }

    .ioschek {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 31px;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 31px;
        border: 2px solid rgb(199, 203, 199);
        border-radius: 31px;
        background-color: white;
        text-align: center;
        transition: all 700ms ease-in-out;
      }

      &::after {
        content: "";
        width: 26px;
        height: 26px;
        border-radius: 13px;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(#000, 0.3);
        position: absolute;
        top: 4px;
        left: 4px;
        transition: all 500ms cubic-bezier(.45, 1, .4, 1);
      }
    }

    .iosshadow {
      position: absolute;
      top: 0px;
      left: 26px;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 20;
        border-radius: 10px;
        background-color: white;
        top: 7px;
        left: 4px;
        transition: all 300ms ease-in-out;
      }

      x&::after {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        border-radius: 10px;
        background-color: white;
        top: 8px;
        left: 28px;
        opacity: 0;

      }
    }
  }

  .heart {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 40px;
    xtransition: all 300ms cubic-bezier(1, -0.07, .63, 1);
    overflow: hidden;

    img {
      position: relative;
      left: 0px;
    }
  }
}

input:checked~div img {
  transition: left 1s steps(28);
  left: -2800px;
}
